{% extends "base.html" %}

{% block content %}


<div style="text-align: center;">
    <h1 style="font-size: 30px;">This is your profile</h1>
    <h1 style="font-size: 50px;">Welcome {{request.user}} </h1>
</div>

<div style="display: flex; flex-direction: column; gap: 1rem; width:30%; margin: auto; border: 1px solid black; border-radius: 10px;" class="p-4 my-4">
    <a class="btn btn-warning" href="{% url "edit_profile" %}">Edit your profile</a>
    <a class="btn btn-danger" href="{% url "change_pass" %}">Change your pass word using old password</a>
    <a class="btn btn-danger" href="{% url "set_pass" %}">Change your pass word without using old password</a>
</div>

{% endblock content %}